{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<!-- Displays the quoted stocks -->

<table align="center" border=1 cellpadding = 10>
    <tr><td>Company</td><td>{{company_name}}</td></tr>
    <tr><td>Price</td><td>{{price}}</td></tr>
    <tr><td>Stock</td><td>{{stock_symbol}}</td></tr>
</table>



<form action="/quote" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="symbol" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Quote</button>
</form>
{% endblock %}
